/* CSSNext (includes Autoprefixer) Test */
:root { 
  --red: #d33;
}

h1 { 
  &:hover {
    color: color(var(--red) a(54%));
  }
}
/* // CSSNext Test */

/* Asset Loading Test */
@font-face {
    font-family: Roboto;
    src: url(../media/fonts/roboto.ttf);
}

body{
	background: linear-gradient(45deg, rgba(10,18,22,1) 0%,rgba(69,72,77,1) 100%);
	/* Asset Loading Test */
	font-family: Roboto;
	/* PostCSS Tests */
	/* Autoprefixer Test */
	user-select: none;
}

/* PurifyCSS Test (currently disabled) */
.test-class{
	background: red;
}